button {
  cursor: pointer;
  padding: 0 24px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #409eff;
}
button[disabled] {
  cursor: not-allowed;
  background-color: #a0cfff;
}